$gray-color: #1c222f;
$orange-color: #e65c00;
$orange-color-light: #ff7e29;
$orange-color--75: #edb191;
$text-soft-white: #cccccc;
$text-over-gray: #ffffff;
$text-simple-gray: gray;
$text-over-orange: #333333;

p,
button,
ul,
ul li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
nav,
label,
a {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron__wrapper,
.carousel {
  overflow: visible !important;
}

.button.orange {
  background-color: $orange-color;
  span,
  i {
    color: #eee !important;
  }
}
